.table-container {
  min-width: 100%;
}

.table {
  overflow-x: scroll;
  margin-bottom: var(--space-8);
  background: linear-gradient(
    136deg,
    rgba(46, 51, 90, 1) 38%,
    rgba(69, 39, 139, 1) 75%
  );
  border: 1px solid var(--neutral-600);
  border-radius: 8px;
  box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.15);
}

.table table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

.thead {
  height: 70px;
  text-align: left;
}

.th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.header-container {
  padding: var(--space-4) var(--space-4) 0 var(--space-4);
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  cursor: pointer;
}

.header-container:hover {
  text-decoration: underline;
}

.filter {
  padding: var(--space-4);
}

.tr {
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
  border-spacing: 0 16px;
}

.tr:last-child {
  border-bottom: none;
}

.tr td {
  font-size: var(--font-size-sm);
  padding: 0 var(--space-4);
}

.tr:hover td {
  background-color: var(--indigo-100);
}
