.status {
  border-radius: 25px;
  font-size: var(--font-size-xs);
  font-weight: 700;
  padding: var(--space-1);
}

.status-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dot {
  height: 8px;
  width: 8px;
  display: inline-block;
  margin: 0 var(--space-1);
  border-radius: 50%;
}

.text {
  margin-right: var(--space-1);
}

.red-bg {
  background-color: var(--status-red-text);
}

.yellow-bg {
  background-color: var(--status-yellow-text);
}

.grey-bg {
  background-color: var(--status-grey-text);
}

.blue-bg {
  background-color: var(--status-blue-text);
}

.green-bg {
  background-color: var(--status-green-text);
}

.red {
  background-color: var(--status-red-bg);
  color: var(--status-red-text);
}

.grey {
  background-color: var(--status-grey-bg);
  color: var(--status-grey-text);
}

.green {
  background-color: var(--status-green-bg);
  color: var(--status-green-text);
}

.blue {
  background-color: var(--status-blue-bg);
  color: var(--status-blue-text);
}
.yellow {
  background-color: var(--status-yellow-bg);
  color: var(--status-yellow-text);
}
